/* Work section */
.place-of-work-section{
  margin: 3rem 0;
  background: #fff;
  /* min-height: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .place-of-work-section h2{
  color: #0d86f8;
} */
.place-of-work-pills{
  background-color: #24263B;
  color: white;
  padding: 10px;
  margin: 4px;
  border-radius: 26px;
  font-size: 14px;
  transition: 1.5s;
}
.place-of-work-wrapper{
  text-align: center;
}
/* PROJECT CARDS */
.project-section{
  background: #ddd;
}
.project-card-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 2rem;
  flex-wrap: wrap;
  padding: 1rem;
}
#projects h2{
  padding-top: 2rem;
}
.project-card{
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transition: 0.5s;
}
.project-card img{
  width: 100%;
  height: 200px;
}
.card-content{
  width: 100%;
  padding: 2px 16px;
}
.project-title{
  color: #f9320a;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}
.card-content h3{
  padding-bottom: 0px;
} 

.project-brief {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}

.project-links{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}
.project-links svg{
  width: 20px;
  height: 20px;
  fill: #f9320a;
  border: 1px solid #ffffff;
}

@media only screen and (max-width: 900px) {
  .project-card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 2rem;
  }
  .place-of-work-section{
    margin: 0;
  }
}

/* media query for the nav section */

@media screen and  (max-width: 768px){
  .place-of-work-wrapper {
    display: flex;
    flex-direction: column;
  }
  .project-card-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 2rem;
  }

}